* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #f298e3af;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}


main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

figure {
    margin-top: 20px;
    text-align: center;
}

img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

figcaption {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

blockquote {
    font-style: italic;
    margin: 20px 0;
    padding: 10px;
    border-left: 4px solid #555;
    color: #555;
}

aside {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: left;
}


@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        max-width: 90%;
    }
}
